@import "../../scss/Variables";

.services {
    margin: 7rem 12%;
    display: flex;
    justify-content: center;
    gap: 10%;
    .service-item {
        text-align: center;
        .service-icon {
            color: $hot_tag;
            font-size: 5rem;
        }
        .service-heading {
            margin: 2rem 0;
        }
        .service-para {
            font-size: 1.9rem;
            color: $line_through;
        }
    }
}

@import "./ServiceFeaturesMob";
