@import "../../scss/Variables";

.cart-hover-wrap {
    background-color: $nav_item_clicked;
    border-radius: 50%;
    opacity: 0;
    .cart-hover {
        font-size: 4rem;
        margin: 2rem;
        color: $color_white;
    }
}
