// Responsive: mobile
@media screen and (max-width: 1000px) {
    .bottom-nav {
        align-items: stretch;
        .top-wrap {
            justify-content: space-between;
            margin: 0 5%;
            .menu-icon {
                .menu-btn {
                    display: block;
                }
            }
        }
        .nav-items {
            display: flex;
            flex-direction: column;
            position: absolute;
            left: -120%;
            top: 100%;
            .nav-item {
                align-items: center;
                margin: 2rem auto;
                color: $color_white;               
            }
        }
        #check:checked ~ .nav-items {
            left: 0;
            transition: left .5s ease-in-out;
            background-color: $nav_background;
            width: 100vw;
        }
    }
}
