.footer-cards-div {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 3rem;
    border-top: 1px solid $border_card;
    position: relative;
    .footer-cards {
        margin-top: 3rem;
        position: absolute;
        right: 15%;
        font-size: 3rem;
        .pay-card {
            margin-bottom: 5rem;
            margin-left: 2rem;
            cursor: pointer;
            color: $hot_tag;
        }
    }
}
