// colors
$brand: #f83200;
$color_black: #000;
$nav_background: #2e90e5d8;
$color_white: #FFF;
$hover_nav: #888888;
$nav_item_clicked: #33A0FF;
$border_card: #cac4c4;
$card_hover: #c9c6c6;
$rating_color: #f5bc00;
$orange_red: #ff4500;
$line_through: #808080;
$hot_tag: #FF4858;
$banner_bg: #2E90E5;
$footer_desc: #08080846;
$path_background: #eeeeee;
$side_nav: #F6F7F8;
$category: #26A541;
